.slick-dots
{
	position: relative;
    top: 10px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 100px;
    height: 100px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li.slick-active
{
    outline: #000000 solid thin;
}
.slick-dots li:hover
{
    opacity: .75;
    color: black;
    outline: #000000 solid thin;
}